/* Force the background to black globally to prevent white borders */
html, body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  height: 100%;
  width: 100%;
}

#root {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 0 auto; /* Keeps the app centered */
  width: 100%;
}

/* On desktops (screens wider than 1024px), re-apply the fixed-width layout */
@media (min-width: 1024px) {
  #root {
    width: 1126px;
    max-width: 100%;
  
  }
}